#sidebar-mainbox{
   
  /* height: 87.5vh; */
  width: 23%;
  position: fixed;
  /* background-color: red; */
}
#text-side{
    font-size: 1rem;
    font-weight: 600;
}
#dark-mode{
    display: flex;
    justify-content: space-between;
}