
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainbox-content{
  margin-top: 50px;
}


/* @media (min-width:280px) and (max-width:600px){
  #box-feed-main{
    width: 100%;
    background-color: red;
  }
} */